@import url('https://fonts.googleapis.com/css?family=Kalam:100,200,300,400,500,600,700');

/*--------------------------------------------Additional*/

.sub-headings {
    font-family: 'Kalam';
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #404040;
} 

.sub-border {
    padding: 10px;
    border-top: 5px double;
}

/*--------------------------------------------Title & Navbar*/

.bg-navbar {
    background-color: hsl(15, 100%, 40%);
}

.title {
    font-family: 'Kalam';
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.nav-link {
    font-family: 'Kalam';
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
}

/*--------------------------------------------Home*/

#home-bg-image {
    background-image: url("../images/morocco-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 400px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out; 
}

@media(max-width: 576px) {
    #home-bg-image {
        height: 180px;
        width: auto;
    }
}


.homepage-heading {
    font-family: 'Kalam';
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    margin: 10px;
    padding-top: 10px;
    color: #404040;
}

.homepage-text {
    font-family: 'Kalam';
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 10px;
    padding-bottom: 15px;
    color: #404040;
    border-bottom: 5px double;
}

/*--------------------------------------------Where to Visit*/

#carouselExampleIndicators {
    margin: auto;
    margin-bottom: 10px;
}

.carousel-inner img {
    margin: auto;
}

.carousel-caption {
    font-family: 'Kalam';
    font-weight: bold;
}

@media(max-width: 992px) {
    .city-img {
        height: 300px;
        width: 600px;
    }
}

@media(max-width: 576px) {
    .city-img {
        height: 150px;
        width: 300px;
    }
}

/*--------------------------------------------Travel Planning*/

.tr-text {
    text-align: center;
    font-family: 'Kalam';
    font-weight: bold;
    font-size: 20px;
    color: #404040;
}

.tr-btn {
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: 'Kalam';
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    background-color: hsl(15, 100%, 40%);
}

.tr-btn:hover {
    background-color: #ff3300;
}

/*--------------------------------------------Map*/

#map {
    height:100%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#map {
    height: 360px;
}

/*--------------------------------------------Listings*/

#listing {
    width: 250px;
    height: 350px;
    overflow: auto;
    left: 442px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
}

#findhotels {
    font-size: 14px;
}
      
#locationField {
    -webkit-box-flex: 1 1 190px;
    -ms-flex: 1 1 190px;
    flex: 1 1 190px;
    margin: 0 8px;
}

#autocomplete {
    width: 60%;
    border: 1px solid grey;
}

.search-box {
    margin-bottom: 10px;
    margin-left: 30px;
    font-family: 'Kalam';
    font-size: 18px;
    font-weight: 400;
}
      
#country {
    width: 100%;
}
      
.placeIcon {
    width: 20px;         
    height: 34px;
    margin: 4px;
}
      
.hotelIcon {
    width: 24px;
    height: 24px;
}
      
#resultsTable {
    border-collapse: collapse;
    width: 240px;
}
      
#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}
      
.iw_table_row {
    height: 18px;
}
      
.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}
      
.iw_table_icon {
    text-align: right;
}

/*--------------------------------------------Book Your Visit*/

.contact-form {
    display: block;
    text-align: center;
}

.booking-form {
    width: 60%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: 'Kalam';
    font-weight: bold;
    font-size: 18px;
}

.form-control {
    margin-bottom: 20px;
    border: 1px solid grey;
}

.form-btn {
    background-color: hsl(15, 100%, 40%);
    border: 1px solid hsl(15, 100%, 40%);
}

/*--------------------------------------------Footer*/

footer {
    margin-top: 20px;
    background-color: hsl(15, 100%, 40%);
}

.social-links {
    padding-top: 10px;
    padding-right: 23px;
    color: #fff;
    font-size: 30px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links:hover {
    color: #ff3300;
}